<fieldset>
	<legend>New Horizontal (Category) Axis</legend>

	<%= form_tag(project_gr_graph_gr_category_path) do  %>
		<%= render :partial => 'form', :locals => { :gr_category => @gr_category} %>
		<p><%= submit_tag('Submit Category') %> <a href="javascript:history.back()" class ='icon icon-cancel'><%= l(:button_back) %></a></p>
	<% end %>

</fieldset>
