<table class="caption">
	<thead>
		<tr>
			<td>Caption: </td>
			<td>
				<div class= "caption-elmt" style="background-color: #FFEA93;"></div>
			</td><td>Total Allocation &lt;100% </td>
			<td>
				<div class= "caption-elmt" style="background-color: #900;"></div>
			</td><td>Total Allocation &gt;100% </td>
			<td>
				<div class= "caption-elmt" style="background-color: #F40;"></div>
			</td><td>Leave Overlapping with Overtime</td>
		</tr>
	</thead>
</table>

<div id="wlmember-contentline" style="display: none;">
</div>

<table class="list" id="wltable">
	<thead>
		<tr>
			<th>Project Member</th>
			<th>Region</th>
			<th>Role</th>
			<th><span class="expander" title="Allocation Type" onclick="toggleGroup();">&nbsp;</span><span class= "tog"> Allocation Type</span></th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Project Allocation</th>
			<th>Total Allocation</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		<!-- To calculate the average project allocation in the footer -->
		<% pw_sum_alloc = 0 %>
		<!-- _________________________________________________________ -->


	<% wl_members.each do |member| %>
		<%= render "wlconfigure_member_content", :project => @project, :member => member %>


	<% end %>


	</tbody>
	<tfoot>
		<tr style="font-weight: bold;"><td title="Total of project members">Total: <% total_members = wl_members.count %>
			<%= pluralise_member(total_members) %></td><td><span class= "tog"></span></td><td colspan="4" ></td><td title="Average project allocation (%)">Average project allocation: <span id="palloc_average_id"><%= pw_sum_alloc/total_members %></span>% </td><td></td><td></td></tr>
  	</tfoot>
</table>

<%= javascript_tag do %>
$(document).ready(function() {
update_footer();
});

<% end %>