<h2>Allocation Dashboard from <%= format_date(@project.wl_project_window.start_date) %> to <%= format_date(@project.wl_project_window.end_date) %> </h2>

<%= render 'wldashboard_table', :project => @project, :wl_members => @wl_members %>