.overtime {
	font-weight: bold;
}

.caption {
    margin-bottom: 5px;
    float: right;
}

tr.odd.allocation-below, table.list tbody tr.odd.allocation-below:hover { font-weight: bold; }
tr.odd.allocation-below { background: #FBEDB2; }
tr.even.allocation-below, table.list tbody tr.even.allocation-below:hover { font-weight: bold; }
tr.even.allocation-below { background: #FFEA93; } 
tr.odd.allocation-below td, tr.even.allocation-below td { border-color: #FBC96A; }

tr.wl-overtime.needs-attention {color: #F40; font-weight: bold; background: #FFCEB9;}

tr.group td{ padding: 0.2em 0 0.2em 0 !important; }

tr td div.caption-elmt {
	border-radius: 8px;width: 20px;height: 15px;border-color: grey;border-width: thin;border-style: inherit;
}

/***** Tooltips ******/
.ltooltip{position:relative;z-index:24;}
.ltooltip:hover{z-index:25;color:#F40;}
.ltooltip span.ltip{display: none; text-align:left; background-color: lightblue; position:absolute;  z-index:25;}

div.ltooltip:hover span.ltip{
display:block;
position:absolute;
top:12px; width:270px;
font-size: 0.8em;
z-index:25;
}

.highcharts-container{width:100% !important; height:100% !important;}