<h2>Edit custom Project Window for user <%= @user.name %> in project <%= @project.name %></h2>

<%= render 'form', :project => @project, :custom_project_window => @custom_project_window, :user => @user %>